body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li button {
    background-color: black;
    border-radius: 10px;
}

nav ul li a svg{
    color: #f0bf0a;
}

nav ul li button:hover{
    color: blue;
    transform: scale(125%)
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.instagram{
    color: rgb(212, 24, 212);
    margin-right: 50px;
}

.instagram:hover{
    color: white;
    transform: scale(125%);
}

.twitter{
    color: rgb(0, 162, 255);
    margin-right: 50px;
}

.twitter:hover{
    color: white;
    transform: scale(125%)
}

.facebook{
    color: rgb(0, 38, 255);
    margin-right: 50px;
}

.facebook:hover{
    color: white;
    transform: scale(125%)
}